TZ=UTC
PORT=3333
HOST=localhost
LOG_LEVEL=info
APP_KEY=s0uJvux1nf2b6a6LapG7epYBuHfrG/7ZjluGXUnL64Y=
NODE_ENV=development

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=
DB_DATABASE=iborrow

# Session
SESSION_DRIVER=cookie

# Optional mailer
MAIL_FROM_ADDRESS=no-reply@iborrow.ac.id
MAIL_FROM_NAME=IBorrow
